h1{
    text-align: center;
}

.text-danger{
    color:red;
}
.text-success{
    color:green;
}
.text-style{
    font-style: italic;
}
.first-letter::first-letter{
    font-size: 1.5rem;
    text-transform: capitalize;
    color:red;
}