
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <!-- <h3 class="header">From Login</h3> -->
                <div class="col-12 d-flex ">
                    <div id="form" class="mt-5">
                        <form #loginForm="ngForm" (ngSubmit)="output(name.value)">
                            <h3 class="pt-2 pb-2">login</h3>
                            <label for="username"  class="form-label">Email: </label>
                            <input type="text" id="username"  #name="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="name.invalid && name.touched" required name="username" class="form-control" ngModel>
                            <div *ngIf="name.invalid && name.touched">
                                <span class="text-danger" *ngIf="name.errors?.['required']">Please Enter your email</span>
                                <span class="text-danger" *ngIf="name.errors?.['pattern']">Please enter correct email address</span>
                            </div>
                            <label for="password"class="form-label" >password :</label>
                            <input type="password"  #password="ngModel"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required name="password" [class.is-invalid]="password.invalid && password.touched" id="password" class="form-control" ngModel>
                            <div *ngIf="password.invalid && password.touched">
                                <span class="text-danger" *ngIf="password.errors?.['required']">Please Enter your password</span>
                                <span class="text-danger" *ngIf="password.errors?.['pattern']">Please Enter your password correct pattern</span>
                            </div>
                            <!-- <div> -->
                                <button [disabled]="loginForm.form.invalid" type="submit"  class="btn mt-3 w-100 p-1 btn-primary" (click)="website()">submit</button>
                            <!-- </div> -->
                            <p class="mt-3" >Not a Memeber?  <span class="text-danger" (click)="page()">sign page</span></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
