<div class="container-fluid">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-3">
                <div class="footer-header">
                    <h3>Contact Us</h3>
                </div>  
                <div class="footer-content">
                    <p>+27625368</p>
                    <P>abcd@gmail.com</P>
                    <P>280c,Green Lane,India</P>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-header">
                    <h3>Our Service</h3>
                </div>
                <div class="footer-content">        
                    <p>Home</p>
                    <p>About</p>
                    <p>Detail</p>
                    <p>Add Detail</p>
                </div>
            </div>
            <div class="col-2">
                <div class="footer-header">
                    <h3>Quick Link</h3>
                </div>
                <div class="footer-content">        
                    <p>Knowledge Base</p>
                    <p>Hire An Expert</p>
                    <p>FAQ</p>
                    <p>Contact</p>
                </div>
            </div>
            <div class="col-5">
                <div class="footer-header d-flex justify-content-center mt-5">
                    <h1>Footer</h1>
                </div>
                <div class="footer-content d-flex justify-content-center">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-12 d-flex justify-content-center">
                <p>Copy right &#169; 2022 All rights reserved | Block make With <span style="color:rgb(38, 189, 174) ;">K7</span></p>
            </div>
        </div>
    </div>
</div>
