<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12">
            <h1>User Name</h1>
        </div>
        <div class="col-12 mb-4">
            <button mat-raised-button class="me-2" [routerLink]="['address']">user Address</button>
            <button mat-raised-button class="ms-2 me-2" [routerLink]="['company']">user Company Details</button>
            <button mat-raised-button class="ms-2" [routerLink]="['contact']">user contact Details</button>
        </div>
        <div class="col-12">
            <ul *ngFor="let user of users">
                <li (click)="person(user)">
                    {{user.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
