<div class="container-fluid header">
    <div class="container head">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#" id="sitename">
              <img
                src="../../assets/image/logo.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
              />
              E-Commerce
            </a>
            <div class="d-flex justify-content-end">
                <i class="fa-solid fa-cart-shopping"  [matBadge]="notification" matBadgeColor="primary"></i>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>