
<nav class="navbar navbar-expand-lg" id="header">
    <div class="container">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Recipe</a>
          <a class="nav-link" href="#">shopping-list</a>
        </div>
      </div>
    </div>
  </nav>