
h3{
    border:2px solid burlywood;
    border-radius:10px;
    text-align: center;
    background-color: burlywood;
}
form{
    /* text-align: center;
     */
     display: flex;
     justify-content: center;
}
label{
    display: block;
}
span{
    color:red;
}

